{% extends "base.html" %}

{% block content %}
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>测试管理
                    <small>接口列表</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="index.html">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">接口列表</span>
            </li>
        </ul>
       <!-- END PAGE BREADCRUMB -->
    </div>
{% endblock %}